<!--EMPIEZA VENTANA EMERGENTE CARRITO DE COMPRAS-->
<div class="modal fade" id="ventana7">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--header de la ventana-->
            <div class="modal-header cajaTuCompra">
                <h3 class="modal-titulo">Tu <span class="span-header">Carrito</span></h3>
            </div>
            <!--contenido de la ventana-->
            <div call="modal-body">

                <body class="bg-light">
                    <div class="container">
                        <div class="row filaCarrito">

                            <div class="col-12 col-md-3">
                                <div class="list-group-item d-flex justify-content-between">
                                    <img class="imgCarrito" src="/images/Marcas/img-sieger.png"
                                        alt="Sieger criadores 20kg">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div class="descripcion-producto">
                                        <h6 class="my-0">Sleger Criadores 20kg</h6>
                                        <small class="text-muted">Comida balanceada para perro</small>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="list-group-item d-flex justify-content-between">
                                    <div class="totalBoton">
                                        <span class="precioTotal">Total $3.087</span>
                                        <div class="btn-carritoMinPlus">
                                            <button class="btn-minus btn-success btn-izq">-</button><span
                                                class="valorCant" value="1">1</span>
                                            <button class="btn-plus btn-success btn-der">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--footer de la ventana-->
                        <div class="modal-footer footerCarrito">
                            <button type="button" class="btn btn-success btn-FinalizarCompra">Finalizar compra</button>
                            <button type="button" class="btn btn-primary btn-cancelarCarrito"
                                data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </body>
            </div>
        </div>
    </div>
</div>