<!--EMERGENTE LOGIN-->
<%- include('./partials/head.ejs')%>
<div class="row">
    <div class="col-10 col-md-12 emergentelog">
        <div class="modal fade" id="ventana5">
            <div class="modal-dialog">
                <div class="modal-content">


                    <!--contenido de la ventana emergente LOGIN-->
                    <div class="container">
                        <div class="form__top">
                            <h2>Formulario <span>Registro</span></h2>
                        </div>
                        <form class="form__reg" action="">
                            <input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
                            <input class="input" type="email" placeholder="&#9993;  Email" required>
                            <input class="input" type="text" placeholder="&#128222;  Telefono" required>
                            <input class="input" type="text" placeholder="&#8962;  Dirección" required>
                            <div class="btn__form">
                                <input class="btn__submit" type="submit" value="REGISTRAR">
                                <input class="btn__reset" type="reset" value="LIMPIAR">
                            </div>
                        </form>
                    </div>

                    <!--footer de la ventana emergente LOGIN -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA EMERGENTE LOGIN-->
<!--EMERGENTE REG-->

<div class="col-10 col-md-12 emergentesreg">
    <div class="modal fade" id="ventana6">
        <div class="modal-dialog">
            <div class="modal-content">


                <!--contenido de la ventana emergente REG-->
                <div class="login__container">
                    <div class="login__top">
                        <img class="login__img" src="./img/pokemoneda.png" alt="">
                        <h3 class="login__title">Formulario de <span>Ingreso</span></h3>
                    </div>

                    <form class="login__form">
                        <input type="text" placeholder="&#128100; Usuario" required autofocus>
                        <input type="password" placeholder="&#x1F512; Contraseña" required>
                        <input class="btn__submit" type="submit" value="ENTRAR">
                        <a class="form__recover" href="">Olvidaste la contraseña?</a>
                    </form>
                </div>

                <!--footer de la ventana emergente REG -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA EMERGENTE REG-->