<footer class="container-fluid">
    <div class="container caja-footer">
        <div class="row">
            <!--colujmna categorias-->
            <div class="col-12 col-md-3 col-lg-3 categorias">
                <h4>Categorías</h4>
            </div>
            <!--columna medios de pago-->
            <div class="col-12 col-md-3 col-lg-3 medios">
                <h4>Medios de pago</h4>
                <img src="/images/footer/medios.jpg" alt="medios de pago" align="middle">
            </div>
            <!--columna de google maps-->
            <div class="col-12 col-md-3 col-lg-3 maps">
                <h4>Encontrá tu sucursal más cercana</h4>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.016887889462!2d-58.38375908435645!3d-34.603734465006845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1598487769398!5m2!1ses-419!2sar"
                     frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <!--columna de contacto-->
            <div class="col-12 col-md-3 col-lg-3 contacto">
                <h4>Contactanos</h4>
                <div class="iconos">
                    <a href="https://www.twitter.com/" type="_blank"><i class="fab
                   fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/"><i><i class="fab fa-instagram"></i></i></a>
                </div>
                <h5 class="contact">Llámenos ahora:</h5>
                <h5 class="contact">E-mail:</h5>
            </div>
        </div>
    </div>
</footer>
<!--terminacion del footer-->
<!--script bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous ">
    </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous ">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous ">
    </script>

</body>

</html>