<!--Apertura del como funciona-->
<div class="container-fluid caja" id="comoComprar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="tituloProductos">¿Cómo Comprar?</h5>
        </div>
      </div>
      <div class="row ">
        <!--paso 1-->
        <div class="col-12 col-md-4 col-lg-4">
          <div class="cuadro">
            <img src="/images/footer/uno.svg" alt="paso uno" height="40px" width="40px" align="left">
            <img src="/images/footer/catcart.png" alt="" height="150px" width="250px" align="middle">
            <h3>Seleccioná tu producto</h3>
            <h5 class="cinco">Según gato, perro, peso o edad</h5>
          </div>
        </div>
        <!--termina paso 1-->
        <div class="col-12 col-md-4 col-lg-4 ">
          <!--paso 2-->
          <img src="/images/footer/dos.svg" alt="paso 2" height="40px" width="40px" align="left">
          <img src="/images/footer/ESPERA.png" alt="" height="150px" width="150px" align="middle">
          <h3>Elegí el horario</h3>
          <h5 class="cinco">y la forma de pago</h5>
        </div>
        <!--termina el paso 2-->
        <div class="col-12 col-md-4 col-lg-4">
          <!--paso 3-->
          <img src="/images/footer/tres.svg" alt="paso 3" height="40px" width="40px" align="left">
          <img src="/images/footer/CASA.PNG" Alt="" height="150px" width="150px" align="middle">
          <h3>Recibilo en tu casa</h3>
          <h5 class="cinco">en el dia y horario que elijas</h5>
        </div>
        <!--termina el paso 3-->
      </div>
    </div>
  
  </div>