*{
    box-sizing: border-box;
    margin: 0%;
  }
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    background-color:white;  
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: aqua;
  }
  li{
    list-style: none;
  }