@import "style.css";


/*----------------------- 
Carrusel
-----------------------*/
.titulocarrusel{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff5722;
  text-align: left;
  height: 80px;
  display: block;
  
}
/*efecto en transicion*/
.carousel-item{
  display: block;
  /*CAMBIÉ EL ALTO DEL CARRUSEL*/
  height: 450px;
  text-align: center;
  transition: transform 1s ease, opacity .1s ease-out

}
/*imagenes del carrusel*/
.d-block{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  height: 50%;
  overflow: hidden;
  box-shadow: 3px 5px 25px rgba(0, 0, 0, 548);
  border-left: solid 2px gray;
  }
  /*zoom a imagenes del carrusel*/
  .d-block:hover{
    transform: scale(0.90);
  
  }
/*iconos para cambiar de imagen del carrusel*/
.carousel-control-prev-icon{

  background-color:  #ff5722;
  margin-bottom: 50%;
  margin-right: 85%;
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 50%, 20%;
  border-radius: 50%;
  border: 2px solid black;
}
.carousel-control-next-icon{
  background-color:  #ff5722;
  margin-bottom: 50%;
  margin-left: 85%;
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 50%, 20%;
  border-radius: 50%;
  border: 2px solid black;
}

/*----------------------------
  APERTURA      COMPRA POR CATEGORIA
------------------------------
*/
section{

  height: auto;
  margin-top: 20px;
}
div h5.tituloProductos{
  text-align: center;
  color: #080808ab;
}
section .cuadroCategoria{

  padding: 10px;
}
section p{
  color:black;
}
/*centro las columnas dentro de las filas con margenes iguales determinados*/
section .row{
  display: flex;
  justify-content: center;
}
/*posiciono img,p,butoon al centro*/
section,img,p,button{
  text-align: center;
}
/*
      USER
*/

/*
      VISUALIZACION TABLET
*/

@media(min-width:768px){
  section .cuadroCategoria{
    padding: 10px;
    height: 172px;
  }
  section .cuadroCategoria .verTodos{
    position: absolute;
    bottom: 13px;
    left: 70px;
  }
  section .cuadroCategoria .tituloVerTodos{
    position: absolute;
    bottom: 53px;
    right: 35px;
  }
  div .justify-content-center img{
    width: 300px;
    height: 240px;
    position: relative;
    left: 31px;
  }
  .form-check-input{
    width: 0%;
    position: relative;
    left: 140px;
    bottom: -3px;
  }
  .form-check-label{
    position: absolute;
    left: 180px;    
  }
}
/*
      VISUALIZACION ESCRITORIO
*/
@media(min-width:1024px){
  section .cajaCategoria{
    height: 200px;
    margin-top: 20px;
  }
  div h5.tituloProductos{
    padding-top: 10px;
    text-align: left;
    margin-left: 100px;
  }
  section .cuadroCategoria{
    padding: 10px;
  }
  section .cuadroCategoria .verTodos{
    position: relative;
    bottom: 0px;
    left: 0px;
  }
  section .cuadroCategoria .tituloVerTodos{
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  section .cuadroCategoria .verTodosSnak{
    position: absolute;
    top: 122px;
    width: 64%;
    right: 30px;
  }
  section .cuadroCategoria .tituloSnak{
    position: absolute;
  }
  .form-check-input{
    width: 0%;
    position: relative;
    left: 156px;
    bottom: -3px;
  }
  .form-check-label{
    position: absolute;
    left: 230px;    
  }
}

/*----------------------------
                CIERRE      COMPRA POR CATEGORIA
------------------------------
*/


/*-------------------------
                APERTURA     COMPRA POR MARCA 
---------------------------
*/
div.cajaMarcas{
  width: auto;
  padding-left: 6px;
  padding-right: 30px;
}
div .cuadroMarca{
  background-color: rgb(255, 255, 255);
  /*sombras alrededor del cuadro*/
  box-shadow: 0 3px 3px 0 grey;
  height: 150px;
  width: 150px;
  text-align: center;
  margin-bottom: 20px;
}
div .cuadroMarca:hover{
  /*al pasar el mouse por el cuadro, la sombra se nota mas*/
  box-shadow: 0 3px 8px 0 #193047;
}
div article img{
  position: relative;
  margin-top: 30px;
  padding-bottom: 10px;
}
div article img.marcaEucanuba{
  margin-top: 60px;
}
.promoMarca i{
  position: absolute;
  background-color: green;
  color: #e70202;
  height: 40px;
  width: 110px;
  border-radius: 3px;
  padding: 6px;
  bottom: 25px;
  left: 40px
}
div article span{
  color:white;
}
div article i,span{
  padding-top: 2px;
}
@media(min-width:768px){
  div.cajaMarcas{
    padding-left: 53px;
    padding-right: 7px;
  }
}
@media(min-width:1024px){
  div.cajaMarcas{
    padding-left: 6px;
    padding-right: 30px;
  }
}
/*-------------------------
                   CIERRE      COMPRA POR MARCA 
---------------------------
*/
/*-------------------------
                   COMO FUNCIONA
---------------------------
*/

.caja{
  background-image:url("../images/Imagenes-Estilo/BANNER.png");
  margin-top: 30px;
  width: auto;
  height: auto;
}
.cinco{
   text-align: center;
   opacity: RGBA(164, 161, 160, 2)
}

img{
   align-content: center;
}
/*-------------------------
                   CIERRE  COMO FUNCIONA
---------------------------
*/

/*-------------------------
   /*-------------------------
       TITULO
---------------------------
*/
div .contenedortitulo {
  position: relative;;
  width: 100%;
  height: 38px;

}
div .titulovsg {
font-size: 28px;
text-align: center;
animation-name: titulo;
animation-duration: 5s;
opacity: 0;
animation-fill-mode: forwards;
animation-delay: 2s;
color: white;
}
@keyframes titulo {
  0%{
opacity: 0;
  }

  50% {
    color: green;
  }
  100% {
    opacity: 1;
  }
}

/*-------------------------
   /*-------------------------
        FIN EFECTO TITULO
---------------------------
*/
marquee{
  width: 100%;

}
