@import "style.css";


/*
CAJA CON EL TITULO Y FORMULARIOS
MOVIL
*/
section{
	background-color: #ff5722;
	height: auto;
	margin-top: 20px;
}
section div h5.titulo{
    padding-top: 20px;
    text-align: center;
}