@import "style.css";


/*
CAJA CON EL TITULO Y FORMULARIOS
MOVIL
*/
div form .grupo-form input, select{
    width: 90%;
}
div h5{
    padding-top: 20px;
    text-align: center;
}
div .productosForm{
    width: 90%;
}
div form label{
    font-size: 18px;
}
div form input{
    width:  100% ;
}
div form .botones{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
div form .form-control-file{
    text-align: center;
}
div form .btn-cargaProducto{
    margin-right: 10px;
}
div form .grupo-form .form-control{
    width: 90%;
}
div .productosForm .w-75{
    width: 75% !important;
    bottom: -6px;
    position: relative;
    margin: 25px;
}

/*
            VISTA TABLET
*/
@media(min-width:768px){
    div form .grupo-form input, select, textarea{
        width: 45%;
    }
    div form .botones{
        padding-top: 20px;
        padding-left: 15px;
        text-align: left;
    }
    div .form-control-file{
        position: relative;
        left: 0px;
    }
    div form .form-control-file{
        text-align: left;
    }
    div form .grupo-form .form-control{
        width: 45%;
    }
    div .productosForm .w-75{
        width: 40% !important;
        position: absolute;
        right: 60px;
        bottom: 72px;
    }
    div .productosForm #errorSubmit{
        position: relative;
        left: 254px;
        bottom: 40px;
    }
}
/*
                    DESKTOP
toma los valores de la tablet
*/
@media(min-width:1024px){
    div form .grupo-form {
        padding-left: 30px;
    }
    div form .grupo-form input, select, textarea{
        width: 35%;
    }
    div form .botones{
        padding-top: 20px;
        padding-left: 20px;
        text-align: left;
    }
    div .form-control-file{
        position: relative;
        left: 0px;
    }
    div form .botones{
        padding-top: 20px;
        padding-left: 15px;
        text-align: left;
    }
    div .form-control-file{
        position: relative;
        left: 0px;
    }
    div form .form-control-file{
        text-align: left;
    }
    div .productosForm .w-75{
        width: 40% !important;
        position: absolute;
        right: 60px;
        bottom: 70px;
    }
    div .productosForm #errorSubmit{
        position: absolute;
        left: 45px;
    }
}