
/*-------------------------
   /*-------------------------
        emergente login
---------------------------
*/

.login__container {
	background-color: #EFEFEF;
	width: 100%;
	border-top: solid .10 rem #F39B53;
	box-sizing: border-box;
	padding: 3rem 0;
	box-shadow: 0 0 .5rem #8A8C8C;
}

.login__top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__title {
	color: #8a8c8b;
}

.login__title span {
	color: #f39b53;
}

.login__img {
	width: 8rem;
	border-radius: 50%;
}

.login__form {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 2rem 0;

}

input[type=text], [type=password] {
	height: .5rem;
	margin: .5rem 0;
	padding: 1rem;
	transition: all .7s;
}

input[type=text]:focus, [type=password]:focus {
	border-color: #C8C8C8;
	background-color: #EFEFEF; 
}

.btn__submit {
	height: 2.5rem;
	border: none;
	background-color: #31B1E5;
	color: white;
	padding: .5px;
	margin: .5rem 0 .3rem;
}

.btn__submit:hover {
	background-color: #39A1E5; 
}

.form__recover {
	color: #F39B53;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
}

.form__recover:hover {
	color: #E67E22;
}

div .modal-content{
    width: 100%;
}
div .login__title{
    text-align:center;
}

@media(min-width:768px){
    div .modal-content{
        width: 100%;
    }
    div.footerRegistro .bt-cerrar{
        position: relative;
        top: 0px;
        left: 0px
        ;
    }
}
div .botonMinPlus{
    justify-content: center;
    margin: 10px;
}
div .btn-minus {
    cursor:pointer;
    align-items:center;
    padding:5px;
    padding-right:10px;
    border:1px solid gray;
    border-radius:5px;
    width: 100px;
}
div span.valorCant{
    color: black;
    font-size: 18px;
    margin: 10px;
}
div .btn-plus{
    cursor:pointer;
    align-items:center;
    padding:5px;
    padding-right:10px;
    border:1px solid gray;
    border-radius:5px;
    width: 100px;
}
div .btn-primary{
    margin-top: 20px;
    margin-left: 33px;
    width: 60%;
}

/*-------------------------
        emergente registrarse
---------------------------
*/

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #F39B53;
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
  color: #F39B53;
  
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
  justify-content: center;
  
}

.btn__form {
	display: flex;
	justify-content: space-around;
  margin-top: 1rem;
  font-size: 10px;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
}

.btn__submit, .btn__reset {
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}

.btn__reset {
	background-color: #EDA135;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}